# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\devOps\k8s\redis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
